<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context 
                http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="metricsHelper" class="com.uxin.utils.metrics.MetricsHelper"
        init-method="init"></bean>
    <bean id="metricsAspectInitializer" class="com.uxin.utils.metrics.MetricsAspectInitializer" init-method="init">
        <property name="metricsHelper" ref="metricsHelper"></property>
    </bean>
    
    <bean id="abstractMetricsFlusher" class="com.uxin.utils.metrics.flusher.AbstractMetricsFlusher" 
        abstract="true" init-method="init">
        <property name="appName" value="live_portal"></property>
        <property name="metricsHelper" ref="metricsHelper"></property>
    </bean>
    
    <bean id="zabbixFlusher" class="com.uxin.utils.metrics.flusher.ZabbixFlusher" 
        parent="abstractMetricsFlusher">
    </bean>
    
    <bean id="openTSDBFlusher" class="com.uxin.utils.metrics.flusher.OpenTSDBFlusher"
        parent="abstractMetricsFlusher">
    </bean>
 
</beans>
